$primary-color: silver;
$secondary-color: red;
body {
    font-family: sans-serif;
    background-color: #040404;
    color: #fff;
    position: relative;
    background: transparent;
    &::before {
        content: "";
        position: fixed;
        background: #040404 top right no-repeat; //can place on image if you want
        background-size: cover;
        left: 0;
        right: 0;
        top: 0;
        height: 100vh;
        z-index: -1;
    }
}

a {
    color: $primary-color;
    text-decoration: none;
    &:hover {
        color: $secondary-color;
        text-decoration: underline;
    }
}

#landing {
    width: 100%;
    height: 100vh;
    background: rgb(255, 255, 255) top right;
    background-size: cover;
    position: relative;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
    }
    .landing-container {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0 15px;
        color: black;
    }
    h1 {
        margin: 0 0 10px 0;
        font-size: 64px;
        font-family: fantasy;
        color: black;
        &:hover {
            color: gold;
        }
    }
    h2 {
        font-weight: bold;
        color: black;
        margin: 20px;
        font-size: 24px;
        font-weight: 500;
        letter-spacing: 1px;
        text-transform: uppercase;
        &:hover{
            color: silver;
        }
    }
    .btn-scroll {
        transition: .5s;
        color: black;
        i {
            font-size: 48px;
            border-radius: 25px;
            padding: 20px;
            width: 200px;
            height: 150px;
            display: inline-flex;
        }
    }
}

.section-title{
    color: yellow;
    text-decoration: underline;
    font-weight: bolder;
    width: 15%;
}

.skills {
    padding-top: 10px;
    .progress {
        height: 45px;
        span{
            color: yellow;
            font-size: medium;
        }
        display: block;
        background: none;
        border-radius: 0;
        .skills {
            padding: 10px 0;
            margin: 0;
            text-transform: uppercase;
            display: block;
            font-weight: 470;
            font-family: sans-serif;
            .val {
                float: right;
                font-style: normal;
            }
        }
    }
    .progress-bar-wrap {
        background: black;
        border: 1px white solid;
    }
    .progress-bar {
        height: 15px;
        background: linear-gradient(to right, rgb(95, 93, 93), white);
        &:hover{
            background: linear-gradient(to right, black, white);
        }
    }
}

.resume {
    .resume-title {
        font-size: 26px;
        font-weight: 700;
        margin-top: 20px;
        margin-bottom: 20px;
        color: yellow;
    }
    .resume-item {
        padding: 0 0 20px 20px;
        margin-top: -2px;
        border-left: 2px solid $primary-color;
        position: relative;
        h4 {
            line-height: 18px;
            font-size: 18px;
            font-weight: 600;
            text-transform: uppercase;
            font-family: sans-serif;
            color: $primary-color;
            margin-bottom: 10px;
        }
        h5 {
            font-size: 16px;
            background: rgba(255, 255, 255, 0.2);
            padding: 5px 15px;
            display: inline-block;
            font-weight: 600;
            margin-bottom: 10px;
        }
        ul {
            padding-left: 20px;
            li {
                padding-bottom: 0;
            }
        }
        &:last-child {
            padding-bottom: 0;
        }
        &::before {
            content: "";
            position: absolute;
            width: 16px;
            height: 16px;
            border-radius: 50px;
            left: -9px;
            top: 0;
            background: $secondary-color;
            border: 2px solid $primary-color;
        }
    }
}
.letter{
    position: absolute;
    bottom: 5px;
    right: 5px;
    color: white;
    background: black;
    border: 3px white solid;
    &:hover{
        color: green;
    }
}